@model Simply_First.Models.Products

@{
    ViewBag.Title = "Delete Product";
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")

<h1 class="text-center display-4 pb-3">Delete Product</h1>

<p class="h3 pb-3 text-danger">Are you sure you want to delete this?</p>

<table class="table table-bordered">
    <tr class="bg-inverse text-white text-center">
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.ProductName)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProductImage)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(model => model.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(model => model.Quantity)
        </td>
        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")