@model IEnumerable<Simply_First.Models.SiteUserVM>

@{
    ViewBag.Title = "Users";
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")

<h1 class="text-center display-4 pb-3">Users List</h1>

<table class="table table-bordered">
    <tr class="bg-primary text-white">
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new {  id= item.UserId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        </td>*@
    </tr>
}

</table>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")