<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simply First</title>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    @* Bootstrap 4 *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet"/>
    <link href="~/Content/Boostrap 4/boostrap.min.css" rel="stylesheet" />
    <link href="~/Content/Boostrap 4/dashboard.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    @* Products API *@
    <script src="~/Scripts/app.js"></script>

    @* Google Captcha *@
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body class="@ViewBag.BodyClass">
<header>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @*<div class="container">*@
        @Html.ActionLink("Simply First", "Index", "Home", null, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>*@
                <li class="nav-item">@Html.ActionLink("Drones", "Product", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Shop", "Purchase", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Documentation", "Document", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("API", "API", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
            </ul>

            <ul class="navbar-nav"> 
                <li class="nav-item mr-3">
                    <form class="navbar-form" role="search" method="get" action="~/Home/Search" id="custom-search-input">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="Search" name="name" id="srch-term" type="text">
                            <div class="input-group-btn" style="height:36px; margin-top:1px;">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item mr-3">@Html.ActionLink("Cart", "ViewCart", "Home", null, new { @class = "nav-link" })</li>
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.Raw("<li class=\"nav-item\"><strong>");
                        @Html.ActionLink(User.Identity.Name, "SecureArea", "Accounts", null, new { @class = "nav-link" })
                        @Html.Raw("</strong></li>");
                    }
                }
                    @{
                        if (!Request.IsAuthenticated)
                        {
                            @Html.Raw("<li class=\"nav-item\">");
                            @Html.ActionLink("Login", "Index", "Accounts", null, new { @class = "nav-link" })
                            @Html.Raw("</strong>");
                        }
                    }
                    @{
                        if (!Request.IsAuthenticated)
                        {
                            @Html.Raw("<li class=\"nav-item\">");
                            @Html.ActionLink("Register", "Register", "Accounts", null, new { @class = "nav-link" })
                            @Html.Raw("</li>");
                        }
                    }
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.Raw("<li class=\"nav-item\">");
                            @Html.ActionLink("Logout", "Logout", "Accounts", null, new { @class = "nav-link" })
                            @Html.Raw("</li>");
                        }
                    }
            </ul>
        </div>
        @*</div>*@
    </nav>
</header>
<main>
    <div class="container">
        <br />

        @RenderBody()

        <hr />
</div>
</main>
<div class="container">
        <footer class="offset-md-1 col-md-10 offset-md-1">
            <p class="text-center">&copy; Latest build: April 20, 2017 - 01:00 PM - Simply First</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
