<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simply First</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/app.js"></script>
    <link href="~/Content/sidebar.css" rel="stylesheet" />

    @* Google Captcha *@
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="containe-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Simply First", "SecureArea", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-right">
                    <li>@Html.ActionLink("Home", "SecureArea", "Accounts")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Buy Product", "BuyProducts", "Users")</li>
                       
                </ul>

                @*<div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Query" name="search">
                            <div class="input-group-btn">
                                @Html.ActionLink("Search", "Search", "Home", new { @class = "btn btn-default" })
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>*@        

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{
                            if (!Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Login", "Index", "Accounts")
                            }
                        }
                    </li>
                    <li>
                        @{
                            if (!Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Register", "Register", "Accounts")
                            }
                        }
                    </li>

                    <p class="navbar-text"><strong>@Html.Raw(User.Identity.Name)</strong></p>
                    
                    <li>
                        @{
                            if (Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Logout", "Logout", "Accounts")
                            }
                        }
                    </li>                           
                </ul>
            </div>
        </div>
    </nav>

<div class="container body-content">
    @RenderBody()
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>