<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-1 hidden-xs-down bg-inverse sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Secure Area", "SecureArea", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                        {
                            @Html.ActionLink("Home", "AdminOnly", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                        {
                            @Html.ActionLink("User List", "Index", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                        {
                            @Html.ActionLink("Add Role", "AddRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                        {
                            @Html.ActionLink("Add User to Role", "AddUserToRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
        </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
