<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-1 hidden-xs-down bg-inverse sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Welcome", "SecureArea", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Change Password", "ChangePassword", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("My Profile", "Create", "Users", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("User")))
                        {
                            @Html.ActionLink("Invoice History", "InvoiceHistory", "PayPal", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                @*<li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("Role Manager", "RoleManager", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>*@
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("User List", "Index", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("User Roles", "UserRoles", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("Add Role", "AddRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("Add User to Role", "AddUserToRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("Product Inventory", "Index", "Products", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("Invoice History", "InvoiceHistory", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 offset-md-0 col-md-12 offset-md-0 pt-3">
