<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            @*<li>
                <form class="navbar-form navbar-nav nav-right">
                    <input type="text" class="form-control" placeholder="Search" />
                </form>
            </li>*@
            <li> - </li>
            <li>
                @{
                    if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Secure Area", "SecureArea", "Accounts")
                    }
                }
            </li>
            <li>
                @{
                    if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                    {
                        @Html.ActionLink("Home", "AdminOnly", "Admin")
                    }
                }
            </li>
            <li>
                @{
                    if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                    {
                        @Html.ActionLink("User List", "Index", "Admin")
                    }
                }
            </li>            
            <li>
                @{
                    if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                    {
                        @Html.ActionLink("Add Role", "AddRole", "Admin")
                    }
                }
            </li>
            <li>
                @{
                    if (Request.IsAuthenticated && (User.IsInRole("18786b31-a57a-4276-8913-6e8d15ea896d")))
                    {
                        @Html.ActionLink("Add User to Role", "AddUserToRole", "Admin")
                    }
                }
            </li>

        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
