<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-1 hidden-xs-down bg-inverse sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Profile", "SecureArea", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Change Password", "ResetPassword", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
            
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("3d50c8fc-ae81-4f7f-b328-1ce5ca630662")))
                        {
                            @Html.ActionLink("User List", "Index", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("3d50c8fc-ae81-4f7f-b328-1ce5ca630662")))
                        {
                            @Html.ActionLink("User Roles", "UserRoles", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
            
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("3d50c8fc-ae81-4f7f-b328-1ce5ca630662")))
                        {
                            @Html.ActionLink("Product Inventory", "Index", "Products", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
            
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("3d50c8fc-ae81-4f7f-b328-1ce5ca630662")))
                        {
                            @Html.ActionLink("Add Role", "AddRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("3d50c8fc-ae81-4f7f-b328-1ce5ca630662")))
                        {
                            @Html.ActionLink("Add User to Role", "AddUserToRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
        </nav>

    <main class="col-sm-9 offset-sm-3 offset-md-0 col-md-12 offset-md-0 pt-3">
