<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-1 hidden-xs-down bg-inverse sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Control Panel", "SecureArea", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Change Password", "ForgotPassword", "Accounts", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("20d75ec5-13d8-451e-aaca-154a64111711")))
                        {
                            @Html.ActionLink("User List", "Index", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("20d75ec5-13d8-451e-aaca-154a64111711")))
                        {
                            @Html.ActionLink("Add Role", "AddRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (Request.IsAuthenticated && (User.IsInRole("20d75ec5-13d8-451e-aaca-154a64111711")))
                        {
                            @Html.ActionLink("Add User to Role", "AddUserToRole", "Admin", null, new { @class = "nav-link" })
                        }
                    }
                </li>
            </ul>
        </nav>

    <main class="col-sm-9 offset-sm-3 offset-md-0 col-md-12 offset-md-0 pt-3">
