@model IEnumerable<Simply_First.Models.ShoppingCart>

@{
    ViewBag.Title = "Shopping Cart";
}

<h1 class="text-center display-4 pb-3">Shopping Cart</h1>


<form action="/Home/UpdateQuantity" method="post">
    <table class="table table-bordered">
        <tr class="bg-primary text-white text-center">
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th class="text-center">
                Manufacturer
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
            <th class="hidden-md-up hidden-xs-up"></th>
            <th class="hidden-md-up hidden-xs-up"></th>
        </tr>

        @foreach (var item in ViewBag.Shopping)
        {

            <tr class="text-center">
                <td>
                    <img src="@(item.Prod.ProductImage)" />
                </td>
                <td>
                    @(item.Prod.ProductName)
                </td>
                <td>
                    @(item.Prod.ProductDescription)
                </td>
                <td>
                    @(item.Prod.Manufacturer)
                </td>
                <td>
                    <input type="number" value="@(item.Quantity)" id="quantity" name="quantity" class="form-control form-control-sm" />
                    <input type="hidden" id="id" name="id" value="@(item.ProductId)" />
                </td>
                <td>
                    @(item.UnitPrice)
                </td>
                <td>
                    @(item.TotalPrice)
                </td>
                <td>
                    <input type="submit" id="submit" value="Update Quantity" class="btn btn-success btn-sm" />
                </td>
                <td>
                    @Html.ActionLink("Delete", "RemoveItem", "Home", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</form>

