@model IEnumerable<Simply_First.Models.ShoppingCart>

@{
    ViewBag.Title = "Shopping Cart";
}

<h1 class="text-center display-4 pb-3">Shopping Cart</h1>

<table class="table table-bordered">
    <tr class="bg-primary text-white text-center">
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th class="text-center">
            Manufacturer
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Total Price
        </th>
        <th class="hidden-md-up hidden-xs-up"></th>
        <th class="hidden-md-up hidden-xs-up"></th>
    </tr>

    @foreach (var item in ViewBag.Shopping)
    {
        <tr class="text-center">
            <td>
                <img src="@(item.Prod.ProductImage)" />
            </td>
            <td>
                @(item.Prod.ProductName)
            </td>
            <td>
                @(item.Prod.ProductDescription)

            </td>
            <td>
                @(item.Prod.Manufacturer)

            </td>
            <td>
                @(item.Quantity)
            </td>
            <td>
                @(item.UnitPrice)
            </td>
            <td>
                @(item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("Delete", "RemoveItem", "Home", new { id = item.ProductId }, new { @class = "btn btn-success btn-sm" }) 
              
            </td>
            <td>
                @Html.ActionLink("Add One", "AddItem", "Home", new { id = item.ProductId},  new { @class = "btn btn-success btn-sm" }) 

            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
