@model IEnumerable<Simply_First.ViewModels.ShoppingCart>

@{
    ViewBag.Title = "Shopping Cart";
    ViewBag.BodyClass = "ShoppingCart";
}

<h1 class="text-center display-4 pb-3">Shopping Cart</h1>


<form action="~/Home/UpdateQuantity" method="post">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="bg-primary text-white text-center">
                <th data-title="Image">
                    Image
                </th>
                <th data-title="Name">
                    Name
                </th>
                <th data-title="Description">
                    Description
                </th>
                <th data-title="Manufacturer">
                    Manufacturer
                </th>
                <th data-title="Quantity">
                    Quantity
                </th>
                <th data-title="Price">
                    Price
                </th>
                <th data-title="TotalPrice">
                    Total Price
                </th>
                <th colspan="2" class="hidden-xs-up"></th>
            </tr>
        </thead>
        @{decimal total = 0; }
        <tbody>
            @foreach (var item in ViewBag.Shopping)
            {
                total = total + item.TotalPrice;

                <tr class="text-center">
                    <td data-title="Image">
                        <img src="@(item.Prod.ProductImage)" class="img-fluid" alt="@(item.Prod.ProductName)" />
                    </td>
                    <td data-title="Name">
                        @(item.Prod.ProductName)
                    </td>
                    <td data-title="Description">
                        @(item.Prod.ProductDescription)
                    </td>
                    <td data-title="Manufacturer">
                        @(item.Prod.Manufacturer)
                    </td>
                    <td data-title="Quantity">
                        <input type="number" value="@(item.Quantity)" id="quantity" name="quantity" class="form-control form-control-sm" />
                        <input type="hidden" id="id" name="id" value="@(item.ProductId)" />
                    </td>
                    <td data-title="Price">
                        @(item.UnitPrice)
                    </td>
                    <td data-title="TotalPrice">
                        @(item.TotalPrice)
                    </td>
                    <td data-title="Update">
                        <input type="submit" id="submit" value="Update" class="btn btn-success btn-sm" />
                    </td>
                    <td data-title="Delete">
                        @Html.ActionLink("Remove", "RemoveItem", "Home", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5"></td>
                <td>Tax</td>
                <td>
                    $12.00
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td>Shipping</td>
                <td>
                    $49.99
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td>Total</td>
                <td><p>$@(12.00m + 49.99m + total)</p></td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
</form>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="GV8YSQDCBR2W8" />
    <input type="hidden" name="business" value="TDJBNEF3XE5NU">
    <input type="hidden" name="custom" value="@ViewBag.Session">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="Simply First Drones">
    <input type="hidden" name="item_number" value="1">
    <input type="hidden" name="amount" value="@(total)">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="cn" value="Add special instructions to the seller:">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="return" value="http://gurkiratbola.com/simplyfirst/paypal/success">
    <input type="hidden" name="cancel_return" value="http://gurkiratbola.com/simplyfirst/paypal/cancel">
    <input type="hidden" name="tax_rate" value="12.000">
    <input type="hidden" name="shipping" value="49.99">
    <input type="hidden" name="address_override" value="1">
    <input type="hidden" name="notify_url" value="http://gurkiratbola.com/simplyfirst/paypal/purchase">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>