@model IEnumerable<Simply_First.ViewModels.ShoppingCart>

@{
    ViewBag.Title = "Shopping Cart";
}

<h1 class="text-center display-4 pb-3">Shopping Cart</h1>


<form action="/Home/UpdateQuantity" method="post">
    <table class="table table-bordered">
        <tr class="bg-primary text-white text-center">
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th class="text-center">
                Manufacturer
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
            <th class="hidden-md-up hidden-xs-up"></th>
            <th class="hidden-md-up hidden-xs-up"></th>
        </tr>

        @foreach (var item in ViewBag.Shopping)
        {

            <tr class="text-center">
                <td>
                    <img src="@(item.Prod.ProductImage)" />
                </td>
                <td>
                    @(item.Prod.ProductName)
                </td>
                <td>
                    @(item.Prod.ProductDescription)
                </td>
                <td>
                    @(item.Prod.Manufacturer)
                </td>
                <td>
                    <input type="number" value="@(item.Quantity)" id="quantity" name="quantity" class="form-control form-control-sm" />
                    <input type="hidden" id="id" name="id" value="@(item.ProductId)" />
                </td>
                <td>
                    @(item.UnitPrice)
                </td>
                <td>
                    @(item.TotalPrice)
                </td>
                <td>
                    <input type="submit" id="submit" value="Update" class="btn btn-success btn-sm" />
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveItem", "Home", new { id = item.ProductId }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</form>


<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" class="offset-md-9 col-md-2 offset-md-1">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4UAWP4HZDKH7Y">
    <input type="button" class="btn btn-primary btn-lg" name="submit" value="Purchase Products">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



