@model Simply_First.ViewModels.RegisteredUserVM

@{
    ViewBag.Title = "Forgot Password";
}

<h1 class="text-center display-4 pb-3">Forgot Password</h1>

@using (Html.BeginForm("ForgotPassword", "Accounts"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label offset-md-3 col-md-2" })
            <div class="offset-md-3 col-md-6 offset-md-3">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-3 col-md-6">
                <div class="g-recaptcha inp50" data-sitekey="6LfRCRUUAAAAAAP0UKAszces8MPrDnZZum737Cgr"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-3 col-md-6">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-3 col-md-6">
                <p class="text-success">@TempData["ForgotPasswordSuccess"]</p>
                <p class="text-danger">@TempData["ForgotPasswordError"]</p>
                <p class="text-danger">@TempData["CaptchaError"]</p>
            </div>
        </div>
    </div>
}