
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper" class="overflow-hidden pt-40">


    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" style="font-size: 14px;">
        <ul class="nav navbar-nav side-nav pt-40" style="color: #fff">

            <li class="active">
                <a href="Admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Manage Employee(s) <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        @Html.ActionLink("Add Employee", "AddEmployee", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Edit Employee", "EditEmployee", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Remove Employee", "RemoveEmployee", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-arrows-v"></i> Inventory <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo2" class="collapse">
                    <li>
                        @Html.ActionLink("Update Inventory", "UpdateInventory", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Check Inventory", "CheckInventory", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Create Order", "CreateOrder", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo3"><i class="fa fa-fw fa-arrows-v"></i> Manage Customer(s)<i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo3" class="collapse">
                    <li>
                        @Html.ActionLink("All Cutomers", "AllCustomers", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Create Customer", "CreateCustomer", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Edit Customer", "EditCustomer", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                    <li>
                        @Html.ActionLink("Delete Customer", "DeleteCustomer", "Home", new { @class = "fa fa-fw fa-edit" })
                    </li>
                </ul>
            </li>
            <li>
                <a href="Profile"><i class="fa fa-fw fa-dashboard"></i> Profile</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->


    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Admin's Dashboard <small>Statistics Overview</small>
                    </h1>
                    <ol class="breadcrumb alert alert-info">
                        <li class="active">
                            <i class="fa fa-fw fa-dashboard"></i><i class="alert-link"><a href="Admin">Admin Dashboard</a></i>
                        </li>
                        <li class="active">
                            <i class="fa fa-fw fa-dashboard"></i><i class="alert-link"><a href="Employee">Employee Dashboard</a></i>
                        </li>
                        <li class="active">
                            <i class="fa fa-fw fa-dashboard"></i><i class="alert-link"><a href="Customer">Customer Dashboard</a></i>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <h1 class="page-header">
            Edit Product
        </h1>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="login-form" action="~/Views/Home/Login.cshtml" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <input type="text" name="productid" id="productid" tabindex="1" class="form-control" placeholder="DJIMavicPro" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="productnum" id="productnum" tabindex="1" class="form-control" placeholder="4555656" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="manufacturer" id="manufacturer" tabindex="1" class="form-control" placeholder="DJI" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="prodtype" id="prodtype" tabindex="1" class="form-control" placeholder="DRONE" value="">
                        </div>
                        <div class="form-group">
                            <input type="text" name="prodname" id="prodname" tabindex="1" class="form-control" placeholder="DJI Mavic Pro" value="">
                        </div>
                        <div class="form-group">
                            <input type="number" name="costprice" id="costprice" tabindex="1" class="form-control" placeholder="800" value="">
                        </div>
                        <div class="form-group">
                            <input type="number" name="costsell" id="costsell" tabindex="1" class="form-control" placeholder="1000" value="">
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Commit Edit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <!-- /#wrapper -->

    <div class="bg-light pt-160 pb-160">

        <div class="container">

            <div class="row">

                <div id="waypoints" class="col-sm-10 col-sm-offset-1 text-center scrolling-animation fade-up">

                    <p class="text-lg-2x">
                        <sup><i class="fa fa-quote-left fa-fw text-color"></i></sup>
                        <em class="text-gray"> Every problem has a solution.</em>
                        <sup><i class="fa fa-quote-right fa-fw text-color"></i></sup>
                    </p>

                    <p class="text-2x"><em>You just have to be creative enough to find it.</em></p>

                </div>

            </div>

        </div>

    </div>
  </div>