@model IEnumerable<Simply_First.ViewModels.PayPal>

@{
    ViewBag.Title = "Invoice History";
}

@Html.Partial("~/Views/Sidebar/_Sidebar-top.cshtml")

<h1 class="text-center display-4 pb-3">Invoice History</h1>

<table class="table table-bordered">
    <tr class="bg-inverse text-white text-center">
        <th>
            @Html.DisplayNameFor(model => model.txtTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th class="hidden-md-up hidden-xs-up"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txtTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", null, new { id = item.transactionID }, new { @class = "btn btn-success text-muted btn-sm" })
        </td>
    </tr>
}

</table>

@Html.Partial("~/Views/Sidebar/_Sidebar-bottom.cshtml")
